
 body{
    font-family: 'Roboto', sans-serif;
 }
 
#text{
    padding: 0% 8%;
    text-align: justify;
}

.img-thumbnail{
    height: 225px;
    margin : 3% 3%;
}

footer .fab{
    display: inline;
    margin: 1%;
    color:black;
}

a:hover{
    text-decoration: none;
}