
 body{
    font-family: 'Roboto', sans-serif;
 }
 
#text{
    padding: 0% 8%;
    text-align: justify;
}

.img-thumbnail{
    height: 240px;
    padding : 3% 10 3% 5%;
}

.row{
    margin: 3% 1%;
}

footer .fab{
    display: inline;
    margin: 1% 2%;
    color:black;
}

a:hover{
    text-decoration: none;
}