body{
  /* width:80%;
  margin: 0 auto;
  padding : 3%;
  text-align: justify; */
}
p{
  text-align: justify;
}

table{
  text-align: left;
}

td, th{
  padding-right: 8px;
}


/*Profile image and introduction table*/
.profile_summary td img{
  /* padding-right: 50px; */
}


/*Contact image*/
.contact-form a{
  /* text-decoration: none; */
}
